<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="FromMailHost" value="smtp.gmail.com"/>
    <add key="FromMail" value=""/>
    <add key="FromMailPassword" value=""/>
    <add key="MailLangCode" value="tr"/>
    <add key="PlaylistDirectory" value="C:\IPTVNotifier\Playlists\"/>
    <add key="ExternalPlaylistURL" value=""/>
    <add key="MailTo" value=""/>
    <add key="TryCount" value="0"/>
    <add key="LastRunTime" value=""/>
    <add key="LastNewRecordCount" value="0"/>
  </appSettings>
</configuration>
